<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>OTLaundryGothicR.otf</string>
		<string>YEONGJUSeonbi.otf</string>
		<string>강원교육모두.otf</string>
		<string>Diphylleia-Regular.ttf</string>
		<string>부크크명조_얇은글씨.ttf</string>
		<string>온글잎 매일옥자체.ttf</string>
		<string>EF_Diary.ttf</string>
	</array>
</dict>
</plist>
